<section id="contacts" class="contacts-list">
    <div class="grid-container">
        <h3 class="titel-phone-book">Phone book</h3>
        <a href="#" class="button primary create-contact">Create contact</a>
        <!-- /.button -->
        <div class="grid-x margin-bottom">
           <div class="cell small-12 medium-6 large-4">
               <div class="user-info">
                   <div class="user-icon">
                       <img src="../assets/img/contacts/contacts-icon.jpg" alt="user-icon"
                            class="user-icon-img" />
                       <!-- /.user-icon-img -->
                   </div>
                   <!-- /.user-icon -->
                   <div class="user-information">
                       <a href="edit.html" class="user-info-edit">edit</a>
                       <a href="#" class="user-info-name">Johnny Depp</a>
                       <span class="user-info-number">+38-099-999-99-99</span>
                   </div>
                   <!-- /.user-information -->
               </div>
               <!-- /.info-user -->
           </div>
           <!-- /.cell -->
           <div class="cell small-12 medium-3 medium-offset-3 large-offset-5">
               <div class="interaction">
                   <a href="#" class="action-button call">Call</a>
                   <a href="#" class="action-button message">Message</a>
               </div>
               <!-- /.interaction -->
           </div>
           <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
        <div class="grid-x margin-bottom">
            <div class="cell small-12 medium-6 large-4">
                <div class="user-info">
                    <div class="user-icon">
                        <img src="../assets/img/contacts/contacts-icon.jpg" alt="user-icon"
                             class="user-icon-img">
                        <!-- /.user-icon-img -->
                    </div>
                    <!-- /.user-icon -->
                    <div class="user-information">
                        <a href="edit.html" class="user-info-edit">edit</a>
                        <a href="#" class="user-info-name">Johnny Depp</a>
                        <span class="user-info-number">+38-099-999-99-99</span>
                    </div>
                    <!-- /.user-information -->
                </div>
                <!-- /.info-user -->
            </div>
            <!-- /.cell -->
            <div class="cell small-12 medium-3 medium-offset-3 large-offset-5">
                <div class="interaction">
                    <a href="#" class="action-button call">Call</a>
                    <a href="#" class="action-button message">Message</a>
                </div>
                <!-- /.interaction -->
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
        <div class="grid-x margin-bottom">
            <div class="cell small-12 medium-6 large-4">
                <div class="user-info">
                    <div class="user-icon">
                        <img src="../assets/img/contacts/contacts-icon.jpg" alt="user-icon"
                             class="user-icon-img">
                        <!-- /.user-icon-img -->
                    </div>
                    <!-- /.user-icon -->
                    <div class="user-information">
                        <a href="edit.html" class="user-info-edit">edit</a>
                        <a href="#" class="user-info-name">Johnny Depp</a>
                        <span class="user-info-number">+38-099-999-99-99</span>
                    </div>
                    <!-- /.user-information -->
                </div>
                <!-- /.info-user -->
            </div>
            <!-- /.cell -->
            <div class="cell small-12 medium-3 medium-offset-3 large-offset-5">
                <div class="interaction">
                    <a href="#" class="action-button call">Call</a>
                    <a href="#" class="action-button message">Message</a>
                </div>
                <!-- /.interaction -->
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
        <div class="grid-x margin-bottom">
            <div class="cell small-12 medium-6 large-4">
                <div class="user-info">
                    <div class="user-icon">
                        <img src="../assets/img/contacts/contacts-icon.jpg" alt="user-icon"
                             class="user-icon-img">
                        <!-- /.user-icon-img -->
                    </div>
                    <!-- /.user-icon -->
                    <div class="user-information">
                        <a href="edit.html" class="user-info-edit">edit</a>
                        <a href="#" class="user-info-name">Johnny Depp</a>
                        <span class="user-info-number">+38-099-999-99-99</span>
                    </div>
                    <!-- /.user-information -->
                </div>
                <!-- /.info-user -->
            </div>
            <!-- /.cell -->
            <div class="cell small-12 medium-3 medium-offset-3 large-offset-5">
                <div class="interaction">
                    <a href="#" class="action-button call">Call</a>
                    <a href="#" class="action-button message">Message</a>
                </div>
                <!-- /.interaction -->
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /.contactslist -->