<section id="create-cont" class="create-contact">
    <div class="grid-container">
        <h3 class="titel-phone-book">Phone book</h3>
        <div class="flex-content">
            <div class="user-look">
                <div class="user-look-icon">
                    <img class="user-look-img" src="../assets/img/create_contacts/contacts-icon.jpg"
                         alt="photo-of-user" />
                </div>
                <!-- /.user-look-icon -->
                <button class="hollow button download-img" href="#">Загрузить изображение</button>
            </div>
            <div class="personal-info">
                <form class="personal-info-form">
                    <input type="text" name="name" class="personal-name" placeholder="Name">
                    <input type="email" name="email" class="personal-email" placeholder="Email Address">
                    <input type="tel" name="mobile" class="personal-mobile"
                           placeholder="Mobile">
                    <div class="switch-container">
                        <label class="switcher">
                            <input type="checkbox">
                            <span class="slide round"></span>
                        </label>
                        <div class="sw-label">Favorite</div>
                    </div>

                    <!-- /.switch-container -->
                </form>
                <!-- /.personal-info-form -->
            </div>
            <!-- /.personal-info -->
            <!-- /.user-look -->
        </div>
        <!-- /.flex-container -->
        <div class="action-with-user">
            <buttons class="button custom-user-btn delete-contact">Delete</buttons>
            <buttons class="button custom-user-btn save-contact">Save Contact</buttons>
        </div>
        <!-- /.action-with-user -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /.create-contact -->