<section id="delete" class="delete-contact">
    <div class="grid-container">
        <h3 class="titel-phone-book">Phone book</h3>
        <div class="grid-x">
            <div class=" medium-10 large-10 cell bgc-white">
                <p class="question">Discard this contact <span class="name-to-delete">"Salma
                    Hayek"</span>?</p>
                <!-- /.question -->
                <div class="make-decision">
                    <button class="button cancel">Cancel</button>
                    <button class="button discard">Discard</button>
                </div>
                <!-- /.make-decision -->
            </div>
            <!-- /.cell -->
        </div>
        <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
</section>
<!-- /.delete-contact -->