#contacts {

  a {
    text-decoration: underline;
  }

  .titel-phone-book {
    @media only screen and (max-width: 639px) {
      text-align: center;
    }
  }

  .create-contact {
    margin: -47px auto 20px;
    display: block;
    width: 150px;
    text-decoration: none;

    @include breakpoint(medium down) {
      margin: 20px auto;
    }
  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .user-info {
    display: flex;
  }

  .user-icon {
    max-width: 120px;
    margin-right: 20px;
  }


  .user-info-edit, .user-info-name, .user-info-number {
    display: block;
  }

  .user-info-name {
    margin: 20px 0 10px;

    @include breakpoint (medium down) {
      margin: 10px 0;
    }
  }

  .user-info {

    @include breakpoint (small down) {
      max-width: 300px;
      margin: 20px auto 10px;
    }

  }

  .action-button {
    display: block;
    max-width: 130px;
    line-height: 30px;
    background-color: #8a8a8a;
    color: #fff;
    margin: 10px 0 10px auto;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #4c4b4c;
    transition: all .4s;

    @include breakpoint (small) {
      max-width: 300px;
      margin: 10px auto;
    }
  }

  .action-button:hover {
    color: #fff;
    background-color: red;
  }
}