#create-cont {

  .titel-phone-book {
    @include breakpoint (small down) {
      text-align: center;
    }
  }

  .flex-content {
    display: flex;

    @include breakpoint (small down) {
      flex-direction: column;
    }
  }

  .user-look {
    margin-right: 50px;

    @include breakpoint (small down) {
      margin-right: 0;
    }

    &-icon {
      max-width: 170px;
      width: 100%;
      margin: 0 auto 15px;
    }
  }

  .download-img {
    display: block;
    margin: 0 auto 15px;
  }

  .personal-info {

    @include breakpoint (small down) {
      max-width: 400px;
      margin: 0 auto;
      width: 100%;
    }
  }

  .switch-container {
    margin-top: 38px;
    display: flex;

    @include breakpoint (small down) {
      justify-content: center;
    }
  }


  .switcher {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: left;
  }


  .switcher input {
    display:none;
  }


  .slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slide {
    background-color: #2196F3;
  }

  input:focus + .slide {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


  .slide.round {
    border-radius: 34px;
  }

  .slide.round:before {
    border-radius: 50%;
  }



  .sw-label {
    margin-left: 20px;
    line-height: 34px;
  }

  .action-with-user {
    margin-top: 50px;

    @include breakpoint (small down) {
      text-align: center;
      margin-top: 25px;
    }
  }

  .custom-user-btn {
    width: 100%;
  }

  .delete-contact {
    max-width: 100px;

    @include breakpoint (small down) {
      max-width: 120px;
    }
  }

  .save-contact {
    margin-left: 80px;
    max-width: 150px;

    @include breakpoint (small down) {
      max-width: 120px;
      margin-left: 0;
    }
  }

}