#delete {

  .titel-phone-book {

    @include breakpoint (small down) {
      text-align: center;
    }
  }

  .bgc-white {
    background-color: #d7ecfa;
    padding: 15px 20px 10px;
    margin-top: 25px;
  }

  .name-to-delete {
    color: $primary-color;
    font-weight: bold;
  }

  .make-decision {
    text-align: right;
    .button {
      max-width: 140px;
      width: 100%;
      background-color: #fff;
      color: #8a8a8a;

      @include breakpoint (small down) {
        max-width: 100px;
      }

      &:hover{
        background-color: $primary-color;
        color: #fff;
      }
    }
  }



}